@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: black;
    color: antiquewhite;
}

.titulo-destaque {
    color: aqua;
}

.apresentaçao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentaçao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentaçao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: "Krona One", sans-serif;
}

.apresentaçao__conteudo__paragrafo {
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
}

.apresentaçao__botao {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentaçao__botao__links {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid #22d4fd;
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21px 0;
    text-decoration: none;
    color: #F6F6F6;
    font-family: "Montserrat", sans-serif;
}

.apresentaçao__links__subtitulo {
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentaçao__botao__links:hover {
    background-color: #272727;
}

.rodape {
    color: #000000;
    background-color: #22d4fd;
    padding: 24px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
}

.cabecalho {
    padding: 2% 0 0 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: "Montserrat", sans-serif;
    color: #22d4fd;
    font-weight: 600;
    font-size: 1.5rem;
    text-decoration: none;
}

.apresentaçao__imagem {
    width: 50%;
}

@media (max-width: 1200px) {
    
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentaçao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentaçao__conteudo {
        width: auto;
    }
}